---
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
---

<Header />

<section class="py-10 px-4 flex justify-center">
  <div class="max-w-3xl w-full">

    <img src="/noticias/CARABINEROS.jpg" alt="Noticia 2" class="w-full h-[800px] md:h-[1000px] object-cover rounded mb-6">
    <p class="text-gray-500 text-sm mb-2">Octubre 30, 2025 - En Noticias por Emilio Soto Andrade - 0 comentarios</p>
    <h1 class="text-3xl md:text-5xl font-bold mb-4">
      ALCALDE FERNANDO OYARZUN MACIAS SOSTIENE IMPORTANTE REUNION CON EL PREFECTO DE CARABINEROS DE CHILOE-PALENA
    </h1>
    <div class="text-gray-800 text-left md:text-base space-y-4 mb-8">
      <p>Una importante reunion protocolar sostuvo esta manana el Alcalde de Chonchi, Fernando Oyarzun Macias, con el prefecto de la Prefectura de Carabineros, Chiloe-Palena, Teniente Coronel Enrique Gutierrez Aquea.</p>
      <p>Durante este importante encuentro fueron abordados diversos temas relacionados, principalmente en el ambito de la seguridad de la comuna.</p>
      <p>En este sentido, el Alcalde Oyarzun Macias, agradecio esta importante instancia sostenida en su despacho con el prefecto Gutierrez: "Se agradece al Coronel Gutierrez, creo que lo que uno le plantea es en beneficio de toda nuestra comuna de como ir mejorando las coordinaciones, todo lo que significa la seguridad en general, por lo que esperamos de verdad ir avanzando en ese camino que toda nuestra comunidad requiere, necesita con la presencia de nuestros carabineros".</p>
    </div>
    <div class="text-center">
      <a href="/noticiasweb" class="bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-700">Volver al Inicio</a>
    </div>
  </div>
</section>

<Footer />
