---
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
---

<Header />

<section class="py-10 px-4 flex justify-center">
  <div class="max-w-3xl w-full">
    <img src="/noticias/2-abuelitos.jpg" alt="Noticia 3" class="w-full h-[800px] md:h-[1000px] object-cover rounded mb-6">
    <p class="text-gray-500 text-sm mb-2">Noviembre 1, 2025 - En Noticias por Emilio Soto Andrade - 0 comentarios</p>
    <h1 class="text-3xl md:text-5xl font-bold mb-4">
      Cada Paso Cuenta! CEDIAM Vive la Experiencia "Pasos Vitales"
    </h1>
    <div class="text-gray-800 text-left md:text-base space-y-4 mb-8">
      <p>Esta semana, nuestros usuarios del CEDIAM se llenaron de energia y motivacion en la caminata "Pasos Vitales". Una actividad disenada para promover el envejecimiento activo, donde los participantes realizaron un recorrido especial midiendo su tiempo y la cantidad de pasos.</p>
      <p>Para garantizar una experiencia segura y personalizada, se planificaron diferentes trayectos adaptados al nivel de funcionalidad de cada persona mayor.</p>
      <p>La innovacion llego de la mano de la aplicacion "Podometro", una herramienta clave que permitio a cada caminante medir en tiempo real sus pasos, el tiempo y la distancia recorrida. Mas que un simple contador, esta app se convirtio en una fuente de motivacion, al permitir visualizar sus logros en cifras concretas y fomentar asi la practica constante de ejercicio.</p>
      <p>El objetivo central de "Pasos Vitales" es claro: fortalecer la autonomia de nuestros adultos mayores y entregarles herramientas practicas para adoptar un estilo de vida saludable, demostrando que una caminata diaria puede ser una poderosa medicina. Ademas, la actividad sirvio como un excelente espacio para fomentar la interaccion social y el bienestar integral.</p>
      <p>Esta gran iniciativa estuvo bajo la guia y supervision de la kinesiologa Maria Jose Pelaez Diaz, reafirmando nuestro compromiso con la salud y la calidad de vida de nuestra comunidad.</p>
    </div>
    <div class="text-center">
      <a href="/noticiasweb" class="bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-700">Volver al Inicio</a>
    </div>

  </div>
</section>

<Footer />
