---
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
---

<Header />

<section class="py-10 px-4 md:px-20 max-w-4xl mx-auto text-gray-800">
  <h1 class="text-3xl md:text-5xl font-bold text-center mb-6">Alcalde</h1>
  <img src="/municipio/alcalde.jpeg" alt="Alcalde de Chonchi" class="w-full max-h-[500px] object-contain rounded-lg mb-8 mx-auto">
  <p class="mb-4">
    El alcalde de la comuna de Chonchi, Fernando Oyarzun Macias, es ingeniero agronomo de profesion y asumio su segundo periodo frente a la Municipalidad de la llamada "Ciudad de Los Tres Pisos".
  </p>
  <p class="mb-4">
    Uno de los principales objetivos del jefe comunal es mejorar la calidad de vida de los habitantes de la comuna de Chonchi, llevando los servicios basicos (agua y energia electrica) a los sectores rurales mas apartados, que concentran el 65% de la poblacion.
  </p>
  <p class="mb-4">
    Durante su primer periodo como alcalde, Fernando Oyarzun Macias dio un gran impulso a la inversion publica en la comuna para sacar adelante obras de infraestructura, como la prolongacion de la costanera, el complejo habitacional de Villa San Carlos y los diversos proyectos en APR, entre otros.
  </p>
  <p>
    Otra de las areas donde el jefe comunal esta colocando el acento es en el Turismo, que considera un motor de desarrollo de la comuna para los proximos anos, el cual debe ir aparejado con el desarrollo de infraestructura adecuada para enfrentar este desafio.
  </p>
</section>

<Footer />
