---
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
---

<Header />

<section class="py-10 px-4 md:px-20 text-gray-800">
  <h1 class="text-3xl md:text-5xl font-bold text-center mb-8">Concejales</h1>
  <p class="text-center text-gray-600 mb-10">Encuentra la informacion de los concejales de nuestra comuna.</p>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 text-center">
    <div class="bg-white shadow-md rounded-lg p-6">
      <img src="/municipio/pedro.jpg" alt="Pedro Andrade Oyarzun" class="w-40 h-40 object-cover rounded-full mx-auto mb-4">
      <h2 class="text-xl font-semibold">Pedro Andrade Oyarzun</h2>
      <p class="text-gray-600">pedroconcejal@munichonchi.cl</p>
      <p class="text-gray-600">+56 9 52103479</p>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6">
      <img src="/municipio/humberto.jpg" alt="Humberto Aguila Andrade" class="w-40 h-40 object-cover rounded-full mx-auto mb-4">
      <h2 class="text-xl font-semibold">Humberto Aguila Andrade</h2>
      <p class="text-gray-600">humberto.aguila@munichonchi.cl</p>
      <p class="text-gray-600">+56 9 40079444</p>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6">
      <img src="/municipio/oscar.jpg" alt="Oscar Macias Borquez" class="w-40 h-40 object-cover rounded-full mx-auto mb-4">
      <h2 class="text-xl font-semibold">Oscar Macias Borquez</h2>
      <p class="text-gray-600">omacias@munichonchi.cl</p>
      <p class="text-gray-600">+56 9 90244305</p>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6">
      <img src="/municipio/carola.jpg" alt="Carola Chamia Diaz" class="w-40 h-40 object-cover rounded-full mx-auto mb-4">
      <h2 class="text-xl font-semibold">Carola Chamia Diaz</h2>
      <p class="text-gray-600">cchamia@munichonchi.cl</p>
      <p class="text-gray-600">+56 9 40079429</p>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6">
      <img src="/municipio/sergio.jpg" alt="Sergio Villarroel Andrade" class="w-40 h-40 object-cover rounded-full mx-auto mb-4">
      <h2 class="text-xl font-semibold">Sergio Villarroel Andrade</h2>
      <p class="text-gray-600">svillarroel@munichonchi.cl</p>
      <p class="text-gray-600">+56 9 40079434</p>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6">
      <img src="/municipio/evelyn.jpg" alt="Evelyn Marquez Marquez" class="w-40 h-40 object-cover rounded-full mx-auto mb-4">
      <h2 class="text-xl font-semibold">Evelyn Marquez Marquez</h2>
      <p class="text-gray-600">emarquez@munichonchi.cl</p>
      <p class="text-gray-600">+56 9 98861664</p>
    </div>
  </div>
</section>

<Footer />
