---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Header />

<section class="py-10 px-4 md:px-20 text-center">
  <h1 class="text-3xl md:text-5xl font-bold mb-6">Noticias Municipales</h1>
  <p class="text-gray-700 md:text-lg">
    Revisa aqui las ultimas noticias, comunicados y actividades del Municipio de Chonchi.
  </p>
</section>
<section class="py-10 px-4 md:px-20">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    <div class="bg-white shadow-md rounded overflow-hidden">
      <img src="/noticias/SALUDO.jpg" alt="Noticia 1" class="w-full h-48 object-cover">
      <div class="p-4">
        <p class="text-gray-700 text-sm mb-4">
          Saludo Dia de las Iglesias Evangelicas y Protestantes.
        </p>
        <a href="/noticias/noticia1" class="text-blue-600 hover:underline font-semibold">Ver mas</a>
      </div>
    </div>
    <div class="bg-white shadow-md rounded overflow-hidden">
      <img src="/noticias/CARABINEROS.jpg" alt="Noticia 2" class="w-full h-48 object-cover">
      <div class="p-4">
        <p class="text-gray-700 text-sm mb-4">
          Alcalde Fernando Oyarzun Macias sostiene importante reunion con el Prefecto de Carabineros de Chiloe-Palena.
        </p>
        <a href="/noticias/noticia2" class="text-blue-600 hover:underline font-semibold">Ver mas</a>
      </div>
    </div>
    <div class="bg-white shadow-md rounded overflow-hidden">
      <img src="/noticias/2-abuelitos.jpg" alt="Noticia 3" class="w-full h-48 object-cover">
      <div class="p-4">
        <p class="text-gray-700 text-sm mb-4">
          Cada Paso Cuenta! CEDIAM Vive la Experiencia Pasos Vitales.
        </p>
        <a href="/noticias/noticia3" class="text-blue-600 hover:underline font-semibold">Ver mas</a>
      </div>
    </div>
    <div class="bg-white shadow-md rounded overflow-hidden">
      <img src="/noticias/forta.png" alt="Noticia 4" class="w-full h-48 object-cover">
      <div class="p-4">
        <p class="text-gray-700 text-sm mb-4">
          Inicio del Programa de Fortalecimiento de Senderos y Miradores de Chonchi.
        </p>
        <a href="/noticias/noticia4" class="text-blue-600 hover:underline font-semibold">Ver mas</a>
      </div>
    </div>
    <div class="bg-white shadow-md rounded overflow-hidden">
      <img src="/noticias/noticia5.jpg" alt="Noticia 5" class="w-full h-48 object-cover">
      <div class="p-4">
        <p class="text-gray-700 text-sm mb-4">
          Con entrega de reconocimiento a los funcionarios que cumplieron el servicio el Municipio de Chonchi celebro el Dia del Funcionario Municipal.
        </p>
        <a href="/noticias/noticia5" class="text-blue-600 hover:underline font-semibold">Ver mas</a>
      </div>
    </div>
    <div class="bg-white shadow-md rounded overflow-hidden">
      <img src="/noticias/noticia6.jpg" alt="Noticia 6" class="w-full h-48 object-cover">
      <div class="p-4">
        <p class="text-gray-700 text-sm mb-4">Chonchi avanza en Servicios Sanitarios Rurales: Mas de 124 familias de Los Petanes seran las favorecidas y una inversion superior a los mil 650 millones de pesos.</p>
        <a href="/noticias/noticia6" class="text-blue-600 hover:underline font-semibold">Ver mas</a>
      </div>
    </div>
    <div class="bg-white shadow-md rounded overflow-hidden">
      <img src="/noticias/noticia7.jpg" alt="Noticia 7" class="w-full h-48 object-cover">
      <div class="p-4">
        <p class="text-gray-700 text-sm mb-4">CONCURSO DE DISFRACES TERRORIFICAMENTE SUSTENTABLES </p>
        <a href="/noticias/noticia7" class="text-blue-600 hover:underline font-semibold">Ver mas</a>
      </div>
    </div>
    <div class="bg-white shadow-md rounded overflow-hidden">
      <img src="/noticias/noticia8.jpg" alt="Noticia 8" class="w-full h-48 object-cover">
      <div class="p-4">
        <p class="text-gray-700 text-sm mb-4">Zumba Halloween 2025</p>
        <a href="/noticias/noticia8" class="text-blue-600 hover:underline font-semibold">Ver mas</a>
      </div>
    </div>
    <div class="bg-white shadow-md rounded overflow-hidden">
      <img src="/noticias/noticia9.jpg" alt="Noticia 9" class="w-full h-48 object-cover">
      <div class="p-4">
        <p class="text-gray-700 text-sm mb-4">SALUDO DIA DEL FUNCIONARIO MUNICIPAL</p>
        <a href="/noticias/noticia9" class="text-blue-600 hover:underline font-semibold">Ver mas</a>
      </div>
    </div>
    <div class="bg-white shadow-md rounded overflow-hidden">
      <img src="/noticias/noticia10.jpg" alt="Noticia 10" class="w-full h-48 object-cover">
      <div class="p-4">
        <p class="text-gray-700 text-sm mb-4">Fue inaugurado proyecto Mejoramiento Iluminacion Rotonda Huitauque, comuna de Chonchi</p>
        <a href="/noticias/noticia10" class="text-blue-600 hover:underline font-semibold">Ver mas</a>
      </div>
    </div>

  </div>
</section>

<Footer />
